.h2--drawer {
    color: #fff;
    font-size: 4rem;
    text-transform: uppercase;
    line-height: 1;
}
.close-drawer {
    width: 100%;
    text-align: right;
    color: #fff;
}
.close-drawer .btn-close {
    font-size: 2rem;
}

/* Slider */
.slide-content {
  display: flex;
  justify-content: center;
}

.slide-content p {
  margin: 0;
}

.slide__img {
  width: 100vw;
  max-height: 44.5vw;
  object-fit: cover;
  object-position: center;
}
.slide__text-wrapper {
  position: absolute;
  width: max-content;
  transform: translateY(20%);
  text-align: center;
}
.slide__title {
  font-weight: bold;
}

.slide__paragraph {
  font-style: italic;
  font-size: 2.5rem;
  line-height: normal;
  margin: 0;
}

.slide__subtitle {
  font-size: 1rem;
  font-weight: bold;
}