.h2--drawer {
    color: #fff;
    font-size: 4rem;
    text-transform: uppercase;
    line-height: 1;
}
.close-drawer {
    width: 100%;
    text-align: right;
    color: #fff;
}
.close-drawer .btn-close {
    font-size: 2rem;
}

/* Slider */
.slide-content {
  display: flex;
}
.slide__img {
  width: 100vw;
  max-height: 44.5vw;
  object-fit: cover;
  object-position: center;
}
.slide__text-wrapper {
  position: absolute;
  width: 50%;
  top: 0;
  transform: translateX(50%);
  text-align: center;
}
.slide__title {

}